.btn-group {
    border-radius: $btn-border-radius;
    @extend .p-1;

    &, .btn {
        //background-color: darken($light, 4);
        //border-color: darken($light, 4);
        @extend .bg-gray-200;
        @extend .border-gray-200;
    }

    .btn-active {
        background-color: $white !important;
    }
}

.btn {
    &.btn-light, &.btn-dark {
        box-shadow: none!important;
        border-width: 2px;
        border-radius: 0.45rem;
        &.btn-light {
            @extend .bg-gray-200;
            @extend .border-gray-200;
            &:hover, &:focus {
                @extend .bg-gray-100;
            }
        }
        &.btn-dark {
            @extend .bg-gray-900;
            @extend .border-gray-900;
            &:hover, &:focus {
                @extend .bg-gray-800;
            }
        }
    }
}
