.dropdown-backdrop {
    position: fixed;
    display: block;
    z-index: $zindex-dropdown - 1;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.dropdown-menu {
    @extend .my-2;
    @extend .py-3;
    @extend .border-0;
    @extend .shadow;
    .dropdown-item {
        @extend .py-2;
    }
}
