.form-floating {
    input, .form-select, .form-control {
        box-shadow: none!important;
        border-width: 2px;
        border-radius: 0.45rem;
        @extend .bg-gray-900;
        @extend .border-gray-800;
        @extend .text-gray-200;
        &:hover, &:focus {
            @extend .bg-gray-800;
        }
    }
}
