.rounded-right-0 {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.rounded-left-0 {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.rounded-top-0 {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.rounded-bottom-0 {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.border-top-0 {
    border-top: none !important;
}

.border-bottom-0 {
    border-bottom: none !important;
}

.border-left-0 {
    border-left: none !important;
}

.border-right-0 {
    border-right: none !important;
}
